<div id="container">
  <div id="content" role="main">

    <%#= render :partial => "shared/page_header" %>
    <div class="entries">
      <%= render :partial => "new" %>
    </div>

  </div><!-- #content -->
</div><!-- #container -->
<%= render :partial => "shared/sidebar" %>
