<!-- connections / followers -->
<div class="component">
  <div class="social-context">
    <h2>Connections</h2>
    <div class="followers-you-follow clearfix">
      <p>Followed by   <span class="user">@<a class="user-profile-link" data-user-id="42732147" href="/#!/framallo" title="Federico Ramallo">framallo</a></span>,   <span class="user">@<a class="user-profile-link" data-user-id="23479005" href="/#!/gastonramos" title="Gastón Ramos">gastonramos</a></span>,   <span class="user">@<a class="user-profile-link" data-user-id="21329983" href="/#!/malev" title="Marcos Alejandro">malev</a></span>, and <a href="/#!/ckozus/followers_you_follow">more</a>.</p>
      <ul class="inline-list">
        <li class="user-thumb-list-member">
          <a href="/#!/framallo" class="user-profile-link" data-user-id="42732147"><img src="http://a1.twimg.com/profile_images/1025376659/me_mini.jpg" height="24" width="24" original-title="framallo"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/gastonramos" class="user-profile-link" data-user-id="23479005"><img src="http://a1.twimg.com/profile_images/117285749/gas-in-mendoza-small_mini.jpg" height="24" width="24" original-title="gastonramos"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/malev" class="user-profile-link" data-user-id="21329983"><img src="http://a3.twimg.com/profile_images/80713955/DSC00113_mini.JPG" height="24" width="24" original-title="malev"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/mbvivas" class="user-profile-link" data-user-id="19234545"><img src="http://a1.twimg.com/profile_images/1223225336/martin_vivas_mini.jpg" height="24" width="24" original-title="mbvivas"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/locosxrails" class="user-profile-link" data-user-id="18200009"><img src="http://a2.twimg.com/profile_images/67777843/avatar2_mini.jpg" height="24" width="24" original-title="locosxrails"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/luislavena" class="user-profile-link" data-user-id="16891327"><img src="http://a1.twimg.com/profile_images/1223689696/av-222-argentina_mini.jpg" height="24" width="24" original-title="luislavena"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/matflores" class="user-profile-link" data-user-id="15868801"><img src="http://a1.twimg.com/profile_images/1157231230/dsc430c_mini.jpg" height="24" width="24" original-title="matflores"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/pandres_" class="user-profile-link" data-user-id="15457168"><img src="http://a3.twimg.com/profile_images/1046431281/n719023174_758679_9219_mini.jpg" height="24" width="24" original-title="pandres_"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/oboxodo" class="user-profile-link" data-user-id="14499090"><img src="http://a2.twimg.com/profile_images/1154758423/32e57d2f-f8c3-44de-be81-663c7a271701_mini.png" height="24" width="24" original-title="oboxodo"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/soveran" class="user-profile-link" data-user-id="14470999"><img src="http://a2.twimg.com/profile_images/227013011/picture_mini.jpg" height="24" width="24" original-title="soveran"></a>
        </li>
      </ul>
    </div>
    <div class="you-both-follow clearfix">
      <p>You both follow   <span class="user">@<a class="user-profile-link" data-user-id="147828548" href="/#!/rubyargentina" title="Ruby Argentina">rubyargentina</a></span>,   <span class="user">@<a class="user-profile-link" data-user-id="23479005" href="/#!/gastonramos" title="Gastón Ramos">gastonramos</a></span>,   <span class="user">@<a class="user-profile-link" data-user-id="21329983" href="/#!/malev" title="Marcos Alejandro">malev</a></span>, and <a href="/#!/ckozus/you_both_follow">more</a>.</p>
      <ul class="inline-list">
        <li class="user-thumb-list-member">
          <a href="/#!/rubyargentina" class="user-profile-link" data-user-id="147828548"><img src="http://a2.twimg.com/profile_images/980896783/ruby_mini.png" height="24" width="24" original-title="rubyargentina"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/gastonramos" class="user-profile-link" data-user-id="23479005"><img src="http://a1.twimg.com/profile_images/117285749/gas-in-mendoza-small_mini.jpg" height="24" width="24" original-title="gastonramos"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/malev" class="user-profile-link" data-user-id="21329983"><img src="http://a3.twimg.com/profile_images/80713955/DSC00113_mini.JPG" height="24" width="24" original-title="malev"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/google" class="user-profile-link" data-user-id="20536157"><img src="http://a1.twimg.com/profile_images/77186109/favicon_mini.png" height="24" width="24" original-title="google"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/mbvivas" class="user-profile-link" data-user-id="19234545"><img src="http://a1.twimg.com/profile_images/1223225336/martin_vivas_mini.jpg" height="24" width="24" original-title="mbvivas"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/locosxrails" class="user-profile-link" data-user-id="18200009"><img src="http://a2.twimg.com/profile_images/67777843/avatar2_mini.jpg" height="24" width="24" original-title="locosxrails"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/enortham" class="user-profile-link" data-user-id="18140261"><img src="http://a0.twimg.com/profile_images/88313651/face-shot_mini.jpg" height="24" width="24" original-title="enortham"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/luislavena" class="user-profile-link" data-user-id="16891327"><img src="http://a1.twimg.com/profile_images/1223689696/av-222-argentina_mini.jpg" height="24" width="24" original-title="luislavena"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/xymbol" class="user-profile-link" data-user-id="16528883"><img src="http://a1.twimg.com/profile_images/61007407/adrian-320_mini.png" height="24" width="24" original-title="xymbol"></a>
        </li>
        <li class="user-thumb-list-member">
          <a href="/#!/EmmanuelOga" class="user-profile-link" data-user-id="16452903"><img src="http://a2.twimg.com/profile_images/1213289899/Gendo_mini.png" height="24" width="24" original-title="EmmanuelOga"></a>
        </li>
      </ul>
    </div>
  </div>
  <hr class="component-spacer">
</div>
