<div class="component">
  <div class="user-rec-inner user-rec-inner-similarities">
    <h2 class="user-rec-component">
      <a class="title-link" href="/#!/similar_to/JuanJoseVargasC">
        Similar to @JuanJoseVargasC
      </a>
      <span class="dot">·</span>
      <a class="view-all" href="/#!/similar_to/JuanJoseVargasC">view all</a>
    </h2>
    <ul class="recommended-followers user-rec-component">
      <li class="user-small-list-item " data-user-id="156134051" data-feedback-token="1">
        <a href="/#!/UnaLopezMas" class="user-profile-link user-thumb" data-user-id="156134051"><img src="http://a1.twimg.com/profile_images/1282294181/rumpel_normal.jpg" alt="UnaLopezMas"></a>
        <div class="user-name-info">
          <a class="user-profile-link user-screen-name" href="/#!/UnaLopezMas" data-user-id="156134051">UnaLopezMas</a>
          <span class="user-follow-state" data-user-id="156134051">
            <span class="dot">·</span>
            <a href="#" class="user-follow-link follow-action" data-user-id="156134051">Follow</a>
          </span>
          <div class="user-full-name-and-label">
            <span class="user-full-name">
              Una López Más
            </span>
          </div>
        </div>
      </li>
      <li class="user-small-list-item " data-user-id="136126415" data-feedback-token="1">
        <a href="/#!/megavas" class="user-profile-link user-thumb" data-user-id="136126415"><img src="http://a0.twimg.com/profile_images/1300297643/twitter_032011_normal.jpg" alt="megavas"></a>
        <div class="user-name-info">
          <a class="user-profile-link user-screen-name" href="/#!/megavas" data-user-id="136126415">megavas</a>
          <span class="user-follow-state" data-user-id="136126415">
            <span class="dot">·</span>
            <a href="#" class="user-follow-link follow-action" data-user-id="136126415">Follow</a>
          </span>
          <div class="user-full-name-and-label">
            <span class="user-full-name">
              megavas
            </span>
          </div>
        </div>
      </li>
      <li class="user-small-list-item " data-user-id="137834176" data-feedback-token="14">
        <a href="/#!/BatardMaudit" class="user-profile-link user-thumb" data-user-id="137834176"><img src="http://a2.twimg.com/profile_images/1215895525/bucca_normal.jpg" alt="BatardMaudit"></a>
        <div class="user-name-info">
          <a class="user-profile-link user-screen-name" href="/#!/BatardMaudit" data-user-id="137834176">BatardMaudit</a>
          <span class="user-follow-state" data-user-id="137834176">
            <span class="dot">·</span>
            <a href="#" class="user-follow-link follow-action" data-user-id="137834176">Follow</a>
          </span>
          <div class="user-full-name-and-label">
            <span class="user-full-name">
              MalditoBastardo
            </span>
          </div>
        </div>
      </li>
      <li class="user-small-list-item " data-user-id="57366785" data-feedback-token="1">
        <a href="/#!/MrGatoViejo" class="user-profile-link user-thumb" data-user-id="57366785"><img src="http://a1.twimg.com/profile_images/1340501288/gato-elegante1_normal.jpg" alt="MrGatoViejo"></a>
        <div class="user-name-info">
          <a class="user-profile-link user-screen-name" href="/#!/MrGatoViejo" data-user-id="57366785">MrGatoViejo</a>
          <span class="user-follow-state" data-user-id="57366785">
            <span class="dot">·</span>
            <a href="#" class="user-follow-link follow-action" data-user-id="57366785">Follow</a>
          </span>
          <div class="user-full-name-and-label">
            <span class="user-full-name">
              Alejandro Ramirez
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <hr class="component-spacer" />
</div>
