<!-- following -->
<%
  people ||= dashboard_following || @followings || []
  title ||= "Following"
  count ||= 0
%>
<div class="component"><div class="your-activity following-activity following15">
  <h2>
    <a href="/#!/ckozus/following" class="title-link"><span class="dashboard-component-title"><%= h(title) %></span><span class="user-stat-link"><%= count %></span></a>
  </h2>
  <h3></h3>
  <ul class="inline-list">
    <li class="user-thumb-list-member">
      <a href="/#!/yetanothercoder" class="user-profile-link" data-user-id="54295141"><img src="http://a3.twimg.com/profile_images/300564791/myself_mini.gif" height="24" width="24" original-title="yetanothercoder"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/evanphx" class="user-profile-link" data-user-id="5444392"><img src="http://a3.twimg.com/profile_images/1266966931/eightbit-e0e50a3c-888e-4ec7-9395-bc783777b145_mini.png" height="24" width="24" original-title="evanphx"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/AdenaDeMonte" class="user-profile-link" data-user-id="8092472"><img src="http://a1.twimg.com/profile_images/93709244/Picture_21_mini.png" height="24" width="24" original-title="AdenaDeMonte"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/mirahlang" class="user-profile-link" data-user-id="289601116"><img src="http://a2.twimg.com/profile_images/1330927127/mirah-logotype-blue-small_mini.png" height="24" width="24" title="mirahlang"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/fgarreton" class="user-profile-link" data-user-id="9899062"><img src="http://a2.twimg.com/profile_images/1248033324/161581_575968230_2826254_q_mini.jpg" height="24" width="24" title="fgarreton"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/Vircost" class="user-profile-link" data-user-id="200412815"><img src="http://a0.twimg.com/profile_images/1183173530/image_mini.jpg" height="24" width="24" title="Vircost"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/oxxopro" class="user-profile-link" data-user-id="287705289"><img src="http://a1.twimg.com/sticky/default_profile_images/default_profile_4_mini.png" height="24" width="24" title="oxxopro"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/AmazonEC2News" class="user-profile-link" data-user-id="194467426"><img src="http://a3.twimg.com/profile_images/1130097897/amazon_com_mini.png" height="24" width="24" original-title="AmazonEC2News"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/mutle" class="user-profile-link" data-user-id="14088961"><img src="http://a1.twimg.com/profile_images/104536455/twitter_mini.jpg" height="24" width="24" title="mutle"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/CoffeeScript" class="user-profile-link" data-user-id="144894853"><img src="http://a2.twimg.com/profile_images/1198075611/Screen_shot_2010-12-24_at_12.28.48_PM_mini.png" height="24" width="24" title="CoffeeScript"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/jamesjyu" class="user-profile-link" data-user-id="11690"><img src="http://a3.twimg.com/profile_images/989593233/italy-4263_mini.jpg" height="24" width="24" title="jamesjyu"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/scottprice_geek" class="user-profile-link" data-user-id="18653361"><img src="http://a3.twimg.com/profile_images/1292920901/ScottPrice3-2011_mini.jpg" height="24" width="24" title="scottprice_geek"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/googletalks" class="user-profile-link" data-user-id="31925790"><img src="http://a3.twimg.com/profile_images/180316981/agttwittericon_mini.jpg" height="24" width="24" title="googletalks"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/emilioeduardob" class="user-profile-link" data-user-id="39520832"><img src="http://a0.twimg.com/profile_images/1208359318/id_mini.jpg" height="24" width="24" title="emilioeduardob"></a>
    </li>
    <li class="user-thumb-list-member">
      <a href="/#!/mviapiano" class="user-profile-link" data-user-id="59269513"><img src="http://a0.twimg.com/profile_images/1230909992/aBBVIYtu_mini" height="24" width="24" title="mviapiano"></a>
    </li>
  </ul></div>
  <hr class="component-spacer">
</div>
