
<!-- actions -->
<div class="concern-actions-container">
  <div class="component">
    <div class="profile-actions clearfix">
      <div class="buttons">
        <div class="drop-down-container">
          <div class="button share-button" onclick="$('#sb1').show();">
            <span class="share"></span>
            <span class="down-arrow"></span>
          </div>
          <ul id="sb1" class="drop-down" style="left: auto; right: 0px; top: 1px; visibility: visible; display:none;">
            <li class=""><span class="mail"></span><b class="item-name">Send to friend</b></li>
            <li class=""><span class="facebook"></span><b class="item-name">Share on Facebook</b></li>
            <li class=""><span class="twitter"></span><b class="item-name">Share on Twitter</b></li>
          </ul>
        </div>
        
        <div class="drop-down-container">
          <div class="button profile-actions-button" onclick="$('#dd1').show();">
            <span class="gear"></span>
            <span class="down-arrow"></span>
          </div>
          <ul id="dd1" class="drop-down" style="left: auto; right: 0px; top: 1px; visibility: visible; display:none;">
            <li class=""><span class="mention"></span><b class="item-name">Mention ckozus</b></li>
            <li class=""><span class="block"></span><b class="item-name">Block ckozus</b></li>
            <li class=""><span class="spam"></span><b class="item-name">Report <span class="truncate">ckozus</span> for spam</b></li>
          </ul>
        </div>
      </div>

      <!-- Vote -->
      <div class="horizontal-vote-control">
        <div class="vote-buttons">
          <div class="button vote-up-button">
            <span class="vote-up-icon"></span>
          </div>
          <div class="button vote-down-button">
            <span class="vote-down-icon"></span>
          </div>
        </div>
        <div class="watch-sparkbars">
          <div class="vote-up-watch-sparkbar" style="width:70%"></div>
          <div class="vote-down-watch-sparkbar" style="width:30%"></div>
        </div>
      </div>

      <!-- Follow button -->
      <div class="follow-state">
        <div class="button profile-follow-button">
          <span class="plus"></span>&nbsp;<strong>Follow</strong>
        </div>
        
        <!-- after user has followed -->
        <!--
        <a href="#" class="button profile-unfollow-link">
          <span class="you-follow"></span>
          <em class="wrapper">
            <b>Following</b>
            <b class="unfollow">Unfollow</b>
          </em>
        </a>
        -->
      </div>
      
    </div>
  </div>
</div>

