<div class="page-header home-header">
  
  <div class="concern-box">
    <div class="concern-box-title">
      <h2>What’s your question?</h2>
    </div>
    
    <div id="" class="menu">
      <ul>
        <li><a href="#">Question</a></li>
        <li><a href="#">Idea</a></li>
        <li><a href="#">Problem</a></li>
        <li><a href="#">Praise</a></li>
      </ul>
    </div>  
    
    <div class="text-area">
      <div class="text-area-editor simple-editor">
        <textarea class="concern-box-editor" style="width: 482px; height: 56px; "></textarea>
      </div>
    </div>
    <div class="button-container concern-button-container">
      <span class="control add-details-control"><i></i><%= link_to "Add Details", '#' %></span>
      <span class="control geo-control"><i></i><%= link_to "Add Location", '#' %></span>
      <img src="/images/spinner.gif" class="concern-spinner" style="display: none;">
      <input class="concern-counter" value="140" disabled="disabled">
      <a href="#" class="concern-button button disabled">Continue</a>
    </div>
  </div>
    
  <div id="" class="menu">
    <ul>
      <li><a href="#">Timeline</a></li>
      <li><a href="#">Recent</a></li>
      <li><a href="#">Solved</a></li>
    </ul>
  </div>  
  
</div>
