<div class="component">
  <div class="concern-stats-inner">
    <h2>Stats</h2>
  </div>
  
  <ul class="horizontal-stats clearfix">
    <li><a class="horizontal-stats-count" href="#">7<span class="horizontal-stats-stat">Recs</span></a></li>
    <li><a class="horizontal-stats-count" href="#">3<span class="horizontal-stats-stat">Contacted</span></a></li>
    <li><a class="horizontal-stats-count" href="#">417<span class="horizontal-stats-stat">Views</span></a></li>
  </ul>
</div>