<div id="container">
  <div id="content">

    <div class="page-header">
      <h1>
        <a href="/settings/profile"><img alt="luleka" class="photo fn" height="48" src="https://si1.twimg.com/profile_images/1348029875/lulekafb_normal.png" width="48"></a>luleka’s settings
      </h1>
      <%= render :partial => "/account/tabs" %>
    </div>

    <div class="content-section">
      <form action="" class="luleka-form account-settings" id="account_settings_form" method="post">

        <div class="row">
          <label>Name</label>
          <div class="input">
            <p class="uneditable-input">Juergen Fesslmeier</p>
            <p class="help-block">
              You can change your name on your <a href="/settings/profile">profile settings</a>.
            </p>
          </div>
        </div>

        <div class="row">
          <label for="user_username">Username</label>
          <div class="input">
            <input class="requires-auth" id="user_screen_name" maxlength="15" name="user[screen_name]" size="15" type="text" value="chinshr">
            <span class="help-inline availability" style="display:none">Checking…</span>
            <span class="help-inline msg">No spaces, please.</span>
            <p class="help-block url">
              Your public profile: http://twitter.com/<span>chinshr</span>
            </p>
          </div>
        </div>

        <div class="row form-swap user-email">
          <label for="user_email">Email</label>
          <div class="input">
            <input id="user_email" name="user[email]" size="30" type="text" value="jfesslmeier@yahoo.com">
            <small class="availability" style="display:none">Checking…</small>
            <small class="msg"></small>
            <p class="help-block instruction">Note: email will not be publicly displayed.</p>
            <label class="checkbox" id="discoverable_by_email">
              <input id="user_discoverable_by_email" name="user[discoverable_by_email]" type="checkbox" value="1"><input name="user[discoverable_by_email]" type="hidden" value="0">
              Let others find me by my email address
            </label>
          </div>
        </div>

        <div class="row">
          <label for="user_lang">Language</label>
          <div class="input">
            <select id="user_lang" name="user[lang]">
              <option value="" selected="selected">Select Language ...&nbsp;</option>
              <option value="it">Italian - Italiano</option>
              <option value="es">Spanish - Español</option>
            </select>
            <p class="help-block">What language would you like to Twitter in?</p>

            <p class="help-block">Interested in helping translate Twitter? Check out the <a href="http://translate.twttr.com">Translation Center</a>.</p>

          </div>
        </div>

        <div class="row">
          <label for="user_time_zone">Time Zone</label>
          <div class="input">
            <select id="user_time_zone" name="user[time_zone]">
              <option value="Hawaii">(GMT-10:00) Hawaii</option>
              <option value="Alaska">(GMT-09:00) Alaska</option>
              <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
              <option value="Arizona">(GMT-07:00) Arizona</option>
            </select>
          </div>
        </div>

        <!-- Geo -->
        <div class="row">
          <label for="user_geo_enabled">Tweet Location</label>
          <div class="input">
            <label class="checkbox">
              <input checked="checked" id="user_geo_enabled" name="user[geo_enabled]" type="checkbox" value="1"><input name="user[geo_enabled]" type="hidden" value="0"> Add a location to your tweets
            </label>
            <p class="help-block">Ever had something you wanted to share ("fireworks!", "party!", "ice cream truck!", or "quicksand...") that would be better with a location?
              By turning on this feature, you can include location information like neighborhood, town, or exact point when you tweet.
            </p>
            <p class="help-block">When you tweet with a location, Twitter stores that location.
              You can switch location on/off before each tweet and always have the option to delete your location history.
              <a href="http://support.twitter.com/forums/26810/entries/78525" id="geotagging_info_link">Learn more</a>
            </p>
            <hr>
            <p class="help-block" id="clear_geodata">
              <span id="delete_geodata">You may <a href="#">delete all location information</a> from your past tweets.<br>
                This may take up to 30 minutes.
              </span>
              <span id="deleting_geodata">Deleting all location information from your past tweets...<br>
                This may take up to 30 minutes. You may leave this page.
              </span>
            </p>
          </div>
        </div>

        <!-- NewTwitter Media Embeds -->
        <div class="row">
          <label for="user_show_all_inline_media">Tweet Media</label>
          <div class="input">
            <label class="checkbox">
              <input id="user_show_all_inline_media" name="user[show_all_inline_media]" type="checkbox" value="1"><input name="user[show_all_inline_media]" type="hidden" value="0">
              Show photos and videos from everyone
            </label>
            <p class="help-block">By default, you'll only see images and videos shared by people you're following, and not reveal those by people you're not. Check this box to see media from everyone on Twitter.</p>
          </div>
        </div>

        <div class="row">
          <label>Tweet Privacy</label>
          <div class="input">
            <label class="checkbox" for="protected-checkbox"><input id="protected-checkbox" name="user[protected]" type="checkbox" value="1"><input name="user[protected]" type="hidden" value="0"> Protect my tweets</label>
            <p class="help-block">
              Only let people whom I approve follow my tweets.<br>
              If this is checked, your future tweets will not be available publicly. Tweets posted previously may still be publicly visible in some places.
            </p>
          </div>
        </div>



        <div class="row">
          <label for="user_ssl_only">HTTPS Only</label>
          <div class="input">
            <label class="checkbox">
              <input id="user[ssl_only]" name="user[ssl_only]" type="checkbox" value="1">
              Always use HTTPS
            </label>
            <p class="help-block">
              Use a secure connection where possible to encrypt your account information.
            </p>
          </div>
        </div>


        <div class="actions">
          <button id="settings_save" class="btn btn-m btn-blue" type="button">Save</button>
        </div>

        <!-- Confirmation modal -->
        <h2 id="password_dialog_header" style="display:none">Save account changes</h2>


        <h2 id="protected_dialog_header" style="display:none">Warning!</h2>



        <div class="row" id="delete-account">
          <div class="input">
            <p>
              <a href="/settings/accounts/confirm_delete">Deactivate my account</a>
            </p>
          </div>
        </div>

        <div class="twttr-dialog password-dialog" style="display: none;">
          <div class="hanging">
            <div class="modal">
              <div class="modal-inner">
                <h2><span>Save account changes</span><a href="#" class="modal-close">×</a></h2>
                <div class="modal-content">
                  <div class="dialog-form">
                    <p>Re-enter your Twitter password to save changes to your account.</p>
                    <fieldset class="common-form">
                      <ul>
                        <li>
                          <label for="auth_password_Password">Password</label>
                          <span class="input-wrapper password-wrapper">
                            <input id="auth_password" name="auth_password" type="password">
                            <div><a href="/account/resend_password" id="forgot_password">Forgot your password?</a>
                              <div id="reminder_sent" style="visibility: hidden">Reminder sent!</div>
                            </div>
                          </span>
                        </li>
                      </ul>
                    </fieldset>
                  </div>
                </div>
                <div class="footer">
                  <input class="btn" id="save_password" name="commit" type="submit" value="Save changes">
                  <a href="/settings/account" id="cancel_link">Cancel</a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-overlay">
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
<%#= render :partial => "shared/sidebar" %>
<div id="dashboard" class="widget-area">
  <div class="component">
    <!-->
    <h1>
      <a href="/settings/profile"><img alt="luleka" class="photo fn" height="48" src="https://si1.twimg.com/profile_images/1348029875/lulekafb_normal.png" width="48"></a>luleka’s settings
    </h1>
    <hr>
    -->
  </div>
  <div class="component">
    <h3>Account</h3>
    <p>From here you can change your basic account info, language settings, and your tweet privacy and location settings.</p>
    <hr>
    <h3>Tips</h3>
    <p>Change your Twitter user name anytime without affecting your existing tweets, @replies, direct messages, or other data. After changing it, make sure to let your followers know so you'll continue receiving all of your messages with your new user name.</p>
    <p>Protect your account to keep your tweets private. Approve who can follow you and keep your tweets out of search results.</p>

  </div>
  <hr>
  <div class="component faq">
    <h3>Questions</h3>
    <h4>Why is the sky blue?</h4>
    <p>The sky is blue due to </p>
    <h4>What's your name?</h4>
    <p>My name is luleka.</p>
  </div>
  
</div>
