<div id="container" class="single-attachment">
  <div id="content" role="main">
    <%= render :partial => "shared/page_header" %>

    <%= render :partial => "list" %>
  </div><!-- #content -->
</div><!-- #container -->
