<form action="/sessions/change_locale" class="change-locale-form" method="POST">
  <input type="hidden" name="lang" value="">
  <input type="hidden" name="redirect" value="https://twitter.com/#!/login/">
  <strong>Countries</strong>
  <span class="dot">·</span>
  <em class="current">United States</em>
  <span class="dot">·</span>
  <a href="?locale=de-DE">Germany</a>
  <span class="dot">·</span>
  <a href="?locale=es-SP">Spain</a>
  <span class="dot">·</span>
  <a href="?locale=es-CL">Chile</a>
  <span class="dot">·</span>
  <a href="?locale=es-MX">Mexico</a>
</form>
