<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="campaign">

  <p align="center"><a name="0.3__GoBack"></a><font size="3" face="Book Antiqua"><b>OFFICIAL 
RULES</b></font></p>
<p align="center"><font size="3" face="Book Antiqua"><b>Luleka.com Registration
iPad Sweepstakes</b></font><font size="2" face="Times"><br>
</font></p>
<ol type="1">
  <li><font size="3" face="Book Antiqua"><b>NO PURCHASE NECESSARY 
  TO ENTER OR TO WIN. A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING.</b></font></li>
</ol>
 <br>
<ol type="1" start="2">
  <li><font size="3" face="Book Antiqua"><b>SPONSOR:</b> Luleka.com 
  (“Sponsor”). Although the sweepstakes 
  (“Sweepstakes”) is administered through a Facebook interface, Facebook 
  is not affiliated with this promotion and does not endorse or sponsor 
  this promotion in any way.</font></li>
</ol>
 <br>
<ol type="1" start="3">
  <li><font size="3" face="Book Antiqua"><b>ADMINISTRATOR: </b>
  Luleka.com (“Administrator”). </font></li>
</ol>
 <br>
<ol type="1" start="4">
  <li><font size="3" face="Book Antiqua"><b>ELIGIBILITY:</b> 
  This Sweepstakes is open to legal residents in all of the 50 U.S. states, 
  the District of Columbia, Canada (excluding Quebec), 
  Mexico, Argentina, Chile, Brazil, Uruguay, Colombia, Peru, Bolivia, Ecuador, 
  Germany, Austria, Switzerland, Luxembourg, Belgium, Netherlands, Lichtenstein, France, Spain, Portugal, Great Britain, Ireland, Poland, 
  who (1) have 
  a Facebook account, (2) are eighteen (18) years of age or older, and 
  (3) have Internet access. The Sweepstakes is void in Puerto Rico, the 
  U.S. Virgin Islands, U.S. Military installations in foreign countries, 
  all other U.S. territories and possessions and wherever prohibited or 
  restricted by law. The Sweepstakes is subject to all applicable federal, 
  state and local laws.<b> </b>Employees of Luleka.com and their respective parent companies, affiliated companies, subsidiaries 
  and any of their agents, advertising, promotional and other agencies, 
  and the immediate families (parents, siblings, children and spouse) 
  and persons living in the same household (whether related or not) of 
  such employees/directors/officers are not eligible to enter the Sweepstakes 
  or win a prize (each and collectively, “Prize(s)”).</font></li>
</ol>
 <br>
<ol type="1" start="5">
  <li><font size="3" face="Book Antiqua"><b>HOW TO ENTER:</b> 
  This Sweepstakes begins at <%= l(@campaign.start_date, :format => :default) %>, and ends at <%= l(@campaign.end_date, :format => :default) %> (the “Sweepstakes Period”), according 
  to Administrator’s time clock. To enter this Sweepstakes, please access 
  the sweepstakes application at </font><a href="http://www.facebook.com/luleka" target="_blank"><font color="#0000FF" size="3" face="Book Antiqua"><u>facebook.com/luleka</u></font></a><font color="#0000FF" size="3" face="Book Antiqua"><u> </u></font><font size="3" face="Book Antiqua">and 
  complete the entry process. When the Facebook permissions box opens, 
  you must click yes to allow the application to access the information 
  described on the box.  You may be required to “Like” the Luleka.com 
  Facebook fan page (if you are already a “Liker”, you will not be 
  required to repeat this action).  You may alternately or also be required 
  to, input your name and email address on a separate form page. The order 
  of these steps may vary. These steps will enter you in the Luleka.com 
  Sweepstakes. You may also enter through a referral post/message/invitation 
  on Facebook. If your entry (“Entry”) is based on a referral from 
  someone on Facebook, you must enter the Sweepstakes directly through 
  the referrer’s Facebook post/message, and follow/complete the online 
  entry process in order for the referrer to receive credit for your Entry. 
  Only one Entry per email address and natural person is allowed during 
  the Sweepstakes Period. Valid Entries must be submitted via the online 
  method as described above.</font><font size="4" face="Book Antiqua"> </font><font size="3" face="Book Antiqua">All Entries must be received during the 
  Sweepstakes Period as determined by the computer time on Sponsor’s 
  server. Any attempt by a participant to obtain more than the allowable 
  Entries by using multiple/different e-mail addresses or Facebook accounts, 
  identities or any other online methods will void all of that participant’s 
  entries. </font></li>
</ol>
 <br>
<ul><p><font size="3" face="Book Antiqua">By entering, entrants agree 
to comply with these Official Rules including all eligibility requirements. 
Sponsor reserves the right to verify eligibility of all entrants. Illegible 
and/or incomplete Entries and Entries submitted by entrants who do not 
meet the eligibility requirements (including all requirements with respect 
to age and residence) are void. Sponsor, Administrator and their agents 
are not responsible for lost, late, or misdirected Entries, for technical, 
hardware or software failures of any kind, for lost or unavailable network 
connections, or for failed, incomplete, garbled or delayed computer 
transmissions or any human error which may occur in the receipt or processing 
of the Entries. Proof of entering information at website does not constitute 
proof of delivery or receipt. Sponsor reserves the right to modify the 
scheduling of the Sweepstakes without prior notification. Use of computer 
programs, macro, programmed, robotic, automatic and other similar means 
to enter the Sweepstakes is prohibited and may result in the disqualification 
of Entries and/or the entrant. In the event of a dispute regarding the 
identity of the person submitting an Entry, the Entry will be deemed 
to be submitted by the person in whose name the e-mail account is registered 
on the date the Entry is submitted. All Entries become the sole property 
of the Sponsor and will not be acknowledged or returned.</font><font size="2" face="Times"> </font></p></ul>
<ol type="1" start="6">
  <li><font size="3" face="Book Antiqua"><b>WINNER SELECTION 
  AND NOTIFICATION:</b> Potential winners will be selected in a random 
  drawing on or about <%= l((@campaign.end_date + 3.days).to_date, :format => :short) %>, by Sponsor or its 
  designee, the judge of the Sweepstakes, whose decisions are final and 
  binding on all matters relating to the Sweepstakes (“Potential Winners”). 
  Each Potential Winner will be notified by email using the email address 
  provided in the Sweepstakes Entry (&quot;Prize Notification&quot;) and 
  each Potential Winner must respond by email within seven (7) calendar 
  days of the date of the Prize Notification (the &quot;Deadline&quot;), 
  with Potential Winner’s full name and a mailing address (&quot;Mailing 
  Information&quot;), where Sponsor can send his/her Prize (if warranted), 
  a Declaration or Affidavit of Eligibility and Liability/Publicity Release 
  (collectively, the &quot;Sweepstakes Documents&quot;). The mailing address 
  must be a street address (no P.O. Boxes). If any Potential Winner does 
  not respond to the Prize Notification by the Deadline, such Potential 
  Winner will be disqualified and an alternate Potential Winner (for each 
  unclaimed Prize) will be selected from all remaining eligible entries 
  received for the original drawing. Once Sponsor or Administrator receives 
  each Potential Winner&#39;s Mailing Information, a set of Sweepstakes Documents 
  will be sent to each Potential Winner via overnight mail. Each Potential 
  Winner must sign and return the Sweepstakes Documents postmarked within 
  seven (7) calendar days of the date the Potential Winner received the 
  Sweepstakes Documents, or the Prize will be forfeited and an alternate 
  Potential Winner selected for each such unclaimed Prize. Canadian residents, 
  if chosen as a Potential Winner, will have to also answer correctly 
  within a 5 minute time period a mathematical skill-testing question 
  with benefit of a calculating device, before the prize will be awarded.  
  Sponsor and Administrator are not responsible for the failure for any 
  reason whatsoever of Potential Winners’ to receive their Prize Notification 
  or for Sponsor or Administrator to receive Potential Winners&#39; response 
  and/or Sweepstakes Documents. Return of any Prize Notification or Sweepstakes 
  Documents as undeliverable, the inability of Sponsor or Administrator 
  to contact a Potential Winner, the failure of a Potential Winner to 
  contact Sponsor or Administrator in a timely manner, the inability of 
  a Potential Winner to accept or receive the Prize for any reason, and/or 
  the non-acceptance by a Potential Winner of any Price for any reason 
  will result in disqualification of such Potential Winner, and alternate 
  Potential Winner(s) will be selected randomly from all remaining eligible 
  entries received. Potential Winners who receive Prizes are known as 
  the “Winners”.</font></li>
</ol>
 <br>
<ol type="1" start="7">
  <li><font size="3" face="Book Antiqua"><b>PRIZES:</b></font></li>
</ol>
 <br><a name="0.3_table01"></a><a name="0.3_0.2_table01"></a>
<div align="left">
<table width="533">
<tr valign="top"><td> </td>
  <td> </td>
  <td><font size="3" face="Book Antiqua">Approximate Retail Value (“ARV”)</font></td></tr>
<tr valign="top"><td><font size="3" face="Book Antiqua">First prize</font></td>
  <td><font size="2" face="Times">The New iPad</font></td>
  <td><font size="2" face="Times">$499.00</font></td></tr>
<tr valign="top"><td><font size="3" face="Book Antiqua">Second prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td><font size="3" face="Book Antiqua">Third prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td><font size="3" face="Book Antiqua">Fourth prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td><font size="3" face="Book Antiqua">Fifth prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td> </td>
  <td><font size="3" face="Book Antiqua">Total ARV if none of the Prize 
  Winners came through referral links</font></td>
  <td> </td></tr>
</table>
</div>
 <br>
<p><font size="3" face="Book Antiqua"></font><font size="2" face="Times"> </font></p>
<ul><p><font size="3" face="Book Antiqua"><b>Referrer Prizes: one for 
each Winner who was referred. No referral Prizes are awarded for Winners 
who were not referred.</b></font> <br></p></ul>
<a name="0.3_table02"></a>
<div align="left">
<table width="533">
<tr valign="top"><td> </td>
  <td> </td>
  <td><font size="3" face="Book Antiqua">Approximate Retail Value (“ARV”)</font></td></tr>
<tr valign="top"><td><font size="2" face="Times">First Place Referral 
  Prize</font></td>
  <td><font size="2" face="Times">Apple TV</font></td>
  <td><font size="2" face="Times">$99.00</font></td></tr>
<tr valign="top"><td><font size="2" face="Times">Second Place Referral 
  Prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td><font size="2" face="Times">Third Place Referral 
  Prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td><font size="2" face="Times">Fourth Place Referral 
  Prize</font></td>
  <td> </td>
  <td> </td></tr>
<tr valign="top"><td> </td>
  <td><font size="3" face="Book Antiqua">Total ARV for Referral Prizes</font></td>
  <td> </td></tr>
</table>
</div>
 <br> <br>
<ul><p><font size="3" face="Book Antiqua"><b> </b></font></p></ul>
<ul><p><font size="3" face="Book Antiqua"><b>Total ARV if all Winners 
come through referral links: $499.00</b></font> <br></p></ul>
<ol type="1" start="8">
  <li><font size="3" face="Book Antiqua"><b>PRIZE CONDITIONS: </b>
  Selection and specifics of all Prizes will be determined at the Sponsor&#39;s 
  sole discretion. All Prizes are subject to availability. Winners are 
  not entitled to any surplus between the actual retail value of his/her 
  Prize and its stated ARV; and any difference between the stated ARV 
  and actual value of the Prize will not be awarded. No cash redemption 
  or prize substitution allowed, except by the Sponsor, who reserves the 
  right in its sole discretion to substitute cash value or another prize 
  it believes is of equal or greater value. All prizes are non-transferable. 
  Odds of winning depend on the number of eligible Entries received during 
  the Sweepstakes Period. All Prizes are awarded “AS IS” and WITHOUT 
  WARRANTY OF ANY KIND, express or implied (including without limitation, 
  any implied warranty of merchantability or fitness for a particular 
  purpose). Acceptance, participation in and/or use of the Prizes are 
  at the Winners’ sole risk and Sponsor and Administrator are not responsible 
  for damages whatsoever, including special, indirect, or consequential 
  damages, arising out of or in connection with the use and/or misuse 
  of any of the Prizes. Sponsor and Administrator reserve the right to 
  verify eligibility of all Winners. Prizes will be awarded by email, 
  U.S. Mail, Federal Express, UPS and/or other shipping method, in Sponsor’s 
  and/or its Prize suppliers’ sole discretion, using the information 
  provided in the Sweepstakes Entry. </font></li>
</ol>
 <br>
<ul><p><font size="3" face="Book Antiqua">All Prize Winners must complete 
and timely return the Sweepstakes Documents in order to receive his/her 
Prize. </font></p></ul>
<ul><p><font size="3" face="Book Antiqua">If any Winner is unable to 
participate in or accept a Prize or any portion of a Prize for any reason, 
Sponsor and Administrator shall have no further obligation to such Winner. 
Any and all activities related to each Prize are at the Winner’s own 
risk and subject to whatever restrictions are imposed by the entities 
that govern such activities. Referral Prizes will not be awarded to 
those Winners who are not referred entrants.</font><font size="2" face="Times"> </font></p></ul>
<ol type="1" start="9">
  <li><font size="3" face="Book Antiqua"><b>TAXES AND COSTS 
  RELATED TO THE PRIZES:</b> All applicable taxes and fees and any license 
  and delivery charges are the sole responsibility of the Winner. All 
  expenses and incidentals and other applicable taxes or charges not specifically 
  mentioned herein are not included and are solely the responsibility 
  of the Winner.</font></li>
</ol>
 <br>
<ol type="1" start="10">
  <li><font size="3" face="Book Antiqua"><b>GENERAL CONDITIONS:</b> 
  By participating in this Sweepstakes and/or by accepting a Prize, participants 
  agree: (a) to be bound by these Official Rules, the decisions of the 
  Sponsor , Administrator and/or their designees, and the Privacy Policies 
  of Luleka.com (b) to release and hold harmless Sponsor and Administrator and their 
  respective parent companies, affiliates and subsidiaries, together with 
  their respective employees, directors, officers, licensees, licensors, 
  shareholders, attorneys and agents including, without limitation, their 
  respective advertising and promotion entities and any person or entity 
  associated with the production, judging or administration of the Sweepstakes 
  (collectively, the “Released Parties”), from any and all claims, 
  demands, damages, losses, liabilities, costs or expenses caused by, 
  arising out of, in connection with, or related to their participation 
  in the Sweepstakes and/or their participation in any prize-related activities 
  (including, without limitation, any property loss, damage, personal 
  injury or death caused to any person(s) and/or the awarding, receipt 
  and/or use or misuse of any Prize or participation in any Prize-related 
  activities); and (c) to be contacted by Sponsor and/or Administrator 
  via e-mail. By accepting a Prize, each Winner consents to the use of 
  his/her name and/or likeness (voice, biographical information, city 
  and state of residence, statements, photograph, recordings, and any 
  information available on their Facebook page) for advertising and promotional 
  purposes (including, but not limited to, use on Sponsor&#39;s web site and/or 
  Luleka.com’s Facebook page without additional compensation, 
  except where prohibited by law). Sponsor reserves the right to make 
  changes or additions to these Official Rules and/or extend the dates 
  of this Sweepstakes for any reason at any time. Sponsor’s and/or Administrator’s 
  failure to enforce any term of these Official Rules shall not constitute 
  a waiver of that provision.</font></li>
  <li><font size="3" face="Book Antiqua"><b>RELEASE.</b> All 
  decisions of Sponsor and Administrator are final and binding; and entrants 
  agree to waive any right to claim ambiguity in the Sweepstakes or these 
  Official Rules, except where prohibited by law. </font><font size="3" face="Times New Roman">By 
  accepting a Prize, each Winner agrees to release the Released Parties 
  from any and all liability, loss or damage arising from or in connection 
  with awarding, receipt and/or use or misuse of Prize or participation 
  in any Prize-related activities. </font><font size="3" face="Book Antiqua">Sponsor 
  reserves the right to use the Sweepstakes for publicity purposes in 
  any media, and to use the name, likeness, and hometown name and/or Prize 
  information of selected entrants as part of that publicity, without 
  any compensation or prior review unless prohibited by law. Any such 
  use with respect to minors shall be subject to prior approval of parent 
  or legal guardian. Taxes, if any, are the sole responsibility of selected 
  entrants, and selected entrants who are U.S. residents may</font><font size="2" face="Book
Antiqua"> </font><font size="3" face="Book Antiqua">be 
  issued an IRS Form 1099 for the ARV of any awarded Prize. This Sweepstakes 
  is void outside the continental US, Alaska and Hawaii, and where prohibited 
  or restricted by law, and subject to applicable federal, state, and 
  local laws. Sponsor reserves the right to disqualify any entrant it 
  finds to be tampering with the entry process or the operation of the 
  Sweepstakes or violating these Official Rules. The Released Parties 
  shall not be liable for: (i) late, lost, delayed, stolen, misdirected, 
  postage-due, incomplete unreadable, inaccurate, garbled or unintelligible 
  entries, communications or affidavits, regardless of the method of transmission; 
  (ii) telephone system, telephone or computer hardware, software or other 
  technical or computer malfunctions, lost connections, disconnections, 
  delays or transmission errors; (iii) data corruption, theft, destruction, 
  unauthorized access to or alteration of entry or other materials; (iv) 
  any injuries, losses or damages of any kind caused by the Prize or resulting 
  from acceptance, possession or use of a Prize, or from participation 
  in the Sweepstakes; or (v) any printing, typographical, administrative 
  or technological errors in any materials associated with the Sweepstakes. 
  Sponsor and Administrator disclaim any liability for damage to any computer 
  system resulting from participating in, or accessing or downloading 
  information in connection with this Sweepstakes, and reserve the right, 
  in their sole discretion, to cancel, modify or suspend the Sweepstakes 
  should a virus, bug, computer problem, unauthorized intervention or 
  other causes beyond Sponsor’s and/or Administrator’s control, corrupt 
  the administration, security or proper play of the Sweepstakes. Sponsor 
  and/or Administrator may prohibit an Entrant from participating in the 
  Sweepstakes or winning Prize if, in its sole discretion, it determines 
  such Entrant is attempting to undermine the legitimate operation of 
  the Sweepstakes in any way by cheating, hacking, deception, or</font><font size="2" face="Book Antiqua"> </font><font size="3" face="Book Antiqua">any 
  other unfair playing practices of intending to annoy, abuse, threaten 
  or harass any other players or representatives of Sponsor and/or Administrator. 
  Use of any automated system to participate is strictly prohibited and 
  will result in disqualification.</font></li>
</ol>
 <br>
<ol type="1" start="12">
  <li><font size="3" face="Book Antiqua"><b>USE OF PERSONAL 
  INFORMATION:</b> In order to participate in this Sweepstakes, participants 
  will be required to supply certain information about themselves. Sponsor 
  has specified which information is mandatory in order to participate 
  in the Sweepstakes. This information will be used by Sponsor for the 
  purposes of administering the Sweepstakes and for marketing purposes, 
  but will not be sold or rented to third parties. The personal information 
  will be collected, processed and used in accordance with Luleka.com’s 
  privacy policy. In addition, personal information may 
  be used by Sponsor or Extole, on Sponsor&#39;s behalf, to contact you after 
  the Sweepstakes is over to provide you with special offers and information 
  about other promotions.   Sponsor and Extole use commercially reasonable 
  efforts to comply with US Federal CAN SPAM laws and state laws regarding 
  privacy.  You may unsubscribe to these email communications at any time 
  by following the directions contained in the email communication.</font></li>
</ol>
 <br>
<ol type="1" start="13">
  <li><font size="3" face="Book Antiqua"><b>INTERNET: </b>
  If for any reason the Sweepstakes is not capable of running as planned, 
  including infection due to computer virus, bugs, tampering, unauthorized 
  intervention, fraud, technical failure, human error or any other causes 
  beyond the control of Sponsor and/or Administrator that corrupt or affect 
  the administration, security, fairness, integrity, or proper conduct 
  of the Sweepstakes, Sponsor reserves the right to disqualify any individual 
  it finds who tampers with the entry process, operation of the Sweepstakes 
  or web site, and to cancel, terminate, modify, or suspend the Sweepstakes 
  without notice and to select the winners from all eligible Entries received 
  prior to the cancellation or termination. Sponsor assumes no responsibility 
  for any error, omission, interruption, deletion, defect or delay in 
  operation or transmission, communications line failure, problems or 
  technical malfunctions of any computer online systems, servers, or providers, 
  computer equipment, software, failure of any e-mail or Entry to be received 
  by Sponsor or Administrator on account of human error, technical problems 
  or traffic congestion on the Internet or at any Web site, theft or destruction, 
  or unauthorized access to, or tampering with or hacking of website, 
  any combination thereof, or otherwise, including any injury or damage 
  to any entrant&#39;s or any other person&#39;s computer related to or resulting 
  from participation in the Sweepstakes.</font></li>
</ol>
 <br>
<ol type="1" start="14">
  <li><font size="3" face="Book Antiqua"><b>CAUTION: </b>
  ANY ATTEMPT BY AN ENTRANT OR ANY OTHER INDIVIDUAL TO DELIBERATELY ALTER 
  OR DAMAGE ANY WEBSITE OR UNDERMINE THE LEGITIMATE OPERATIONS OF THE 
  SWEEPSTAKES MAY BE A VIOLATION OF CRIMINAL AND CIVIL LAWS AND SHOULD 
  SUCH AN ATTEMPT BE MADE, SPONSOR AND ADMINISTRATOR RESERVE THE RIGHT 
  TO SEEK DAMAGES FROM ANY SUCH PERSON TO THE FULLEST EXTENT PERMITTED 
  BY LAW.</font></li>
</ol>
 <br>
<ol type="1" start="15">
  <li><font size="3" face="Book Antiqua"><b>DISPUTES:</b> Each 
  entrant agrees that (1) any and all disputes, claims, and causes of 
  action arising out of or in connection with this Sweepstakes, or any 
  Prizes awarded, shall be resolved individually, without resort to any 
  form of class action, and any judicial proceeding shall take place in 
  a federal or state court in San Francisco, California; (2) any and all 
  claims, judgments, and awards shall be limited to actual out-of-pocket 
  costs incurred, including costs associated with entering this Sweepstakes, 
  but in no event attorneys fees and (3) under no circumstances will entrant 
  be permitted to obtain awards for, and entrant hereby waives all rights 
  to claim punitive, incidental, and consequential damages, and any other 
  damages (other than for actual out-of-pocket expenses), and any and 
  all rights to have damages multiplied or otherwise increased. All issues 
  and questions concerning the construction, validity, interpretation 
  and enforceability of these Official Rules, or the rights and obligations 
  of entrant, the Sponsor and the Administrator in connection with this 
  Sweepstakes shall be governed by, and construed in accordance with the 
  laws of the State of California, without giving effect to any choice 
  of law or conflict of law rules or provisions (whether of the State 
  of California or any other jurisdiction), that would cause the application 
  of the laws of any jurisdiction other than those of the State of California. </font></li>
</ol>
 <br>
<p><font size="3" face="Book Antiqua">Sponsored by Luleka.com</font></p>
<p><font size="3" face="Book Antiqua">© <%= Time.now.year %> Luleka. All rights reserved.</font></p>
<p><font size="2" face="Times"> </font></p>


</div>

</div></body></html>
