<div id="campaign" class="invite">
  <div class="inner">
    <h1><span><%= t "site.title" %></span></h1>
    <h2>You are in! Now tell your friends.</h2>
    
    <div class="float-unit">
      <div class="leftside">
        <p>
          Congratulations, you're entered to win a brand new <em>iPad 3</em>.
          Now tell your friends because if your friend who you refer wins, you win a new <em>Apple TV</em>.
        </p>
        <%= image_tag("fb/ipad-p24.png") %>
      </div>
      <div class="rightside">
        <div class="front-signup">
          <a class="post promotional button">Share Now</a>
        </div>
      </div>
    </div>
  </div>
</div>