<div id="about" class="page-content clearfix">
  <div class="page-content-inner">

    <div class="single-page-heading ">
      <h1>About</h1>
    </div>

    <div class="single-page-strap clearfix">

      <div class="left-column columns">
        <ul id="nav">
          <li class="active"><a href="#about" class="single-page-link">About Luleka</a></li>
          <li><a href="#team" class="single-page-link">Team</a></li>
          <li><a href="#investors" class="single-page-link">Investors</a></li>
          <li><a href="#contact" class="single-page-link">Contact us</a></li>
          <li><a href="/help" class="single-page-link">Help</a></li>
        </ul>
      </div><!-- /col -->

      <div class="right-column columns">
        <div class="sections about-luleka">
          <h2 id="tagline">Luleka is the best way you find professionals.</h2>
          <img alt="" class="about-birds" src="http://a3.twimg.com/a/1305652901/images/about-birds.png">

          <h3>What is Luleka?</h3>
          <p>When we seek advice, we want the best recommendations to solve a problem. We value the words of those we know and trust: friends, family, our lawyer or physician. We can rely on their advice and the people they refer to us.</p>
          <p>luleka.com is a social network that does the legwork for you. When you have a concern, you can immediately find out which of your friends or their contacts has the perfect recommendation you need. If they don’t know, Luleka will direct you to a specialist who’s earned a reputation within the community as a proven expert in the field. Either way, you get the best solution every time.</p>
          <h3>How Luleka Works</h3>
          <p>The quality of content on Luleka is based on the collective contributions of our users (i.e. you!). We combine aspects of Forums, Blogs, Wikis and a Digg-like experience in a way that we think is fun to use.</p>

          <p>You contribute to Luleka by starting and replying to conversations, by orbiting communities, conversations and people, and by voting, liking, following and flagging content. In order to make Luleka's conversations better and more valuable for everyone, we incentivize you to do all of these things!</p>

          <p>You can register if you want to collect reputation in form of real cash, but otherwise, it's just free. Reputation is never given, it is earned by convincing other users that you know what you're talking about, so it is a rough measure of how much the community trusts you. Reputation is completely optional and normal use of Luleka, that is starting and replying to conversations, does not require any reputation whatsoever.</p>

          <p>Luleka has a few simple guidelines meant to keep our service interesting, fun and useful for everyone.</p>



          <h2 id="">The Luleka Team</h2>

          <div class="profile">
            <div class="fl">
              <a href="/people/mariana" title="Mariana Saiz"><img alt="mariana" height="55" name="profile" src="https://s3.amazonaws.com/luleka.com-production/images/application/people/avatars/2b2ccca944/profile_mariana_8703_0.jpg?1270491052" title="mariana" width="55"></a>
            </div>
            <div class="fl info">
              <strong><a href="/people/mariana">Mariana Saiz</a></strong>
              <br>
              Cofounder
            </div>
            <div class="clearClass"></div>
          </div>
          
          <div class="profile">
            <div class="fl">
              <a href="/people/juergen" title="Jürgen Feßlmeier"><img alt="Jürgen Feßlmeier" height="55" name="profile" src="https://s3.amazonaws.com/luleka.com-production/images/application/people/avatars/e73b7e3835/profile_original_juergen.jpg?1289936523" title="Jürgen Feßlmeier" width="55"></a>
            </div>
            <div class="fl info">
              <strong><a href="/people/juergen">Jürgen Feßlmeier</a></strong>
              <br>
              Cofounder
            </div>
            <div class="clearClass"></div>
          </div>


          <h2 id="">Investors</h2>
          <p>Luleka is backed by an early stage investment from <a href="http://www.buenosaires.gov.ar/areas/produccion/subs_produccion/emprende09/index.php" rel="nofollow">Buenos Aires Emprende</a> through the help of the fine folks at <a href="http://www.endeavor.org/" rel="nofollow">Endeavor</a>.</p>


          <h2 id="">Contact Us</h2>
          <p>We are looking forward to <a href="http://luleka.luleka.com/ideas" rel="nofollow">hearing from you</a>. If you should encounter a problem please <a href="http://luleka.luleka.com/problems" rel="nofollow">let us know</a> or drop us a mail at <script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%73%75%70%70%6f%72%74%40%6c%75%6c%65%6b%61%2e%63%6f%6d%22%3e%73%75%70%70%6f%72%74%40%6c%75%6c%65%6b%61%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script><a href="mailto:support@luleka.com">support@luleka.com</a>. We are always interested in meeting people that are enthusiastic about the things we do, and, yes, <a href="http://luleka.com/jobs" rel="nofollow">we are hiring</a>. For any business-related stuff send mail to <script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%62%75%73%69%6e%65%73%73%40%6c%75%6c%65%6b%61%2e%63%6f%6d%22%3e%62%75%73%69%6e%65%73%73%40%6c%75%6c%65%6b%61%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script><a href="mailto:business@luleka.com">business@luleka.com</a> or for press-related stuff to <script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%70%72%65%73%73%40%6c%75%6c%65%6b%61%2e%63%6f%6d%22%3e%70%72%65%73%73%40%6c%75%6c%65%6b%61%2e%63%6f%6d%3c%2f%61%3e%27%29%3b'))</script><a href="mailto:press@luleka.com">press@luleka.com</a>. </p>
          
          <p>In any case, let us know. We would love to hear from you!</p>
          
          
        </div>
      </div> <!-- /col -->
    </div> <!-- /row -->
    
  </div>
</div>