<div class="leftside ">
  <h1><span>Luleka</span></h1>
  <h2><a href="/#!/toptweets" tabindex="-1"><%= "Trusted recommendations" %></a></h2>
  <p>Let the right friends, professionals and industry experts, find you. Share your concern and receive quick and reliable feedback.</p>
</div>

<div class="rightside">
  <div class="gradient"></div>
  <div class="front-signin">
    <form action="https://twitter.com/sessions?phx=1" class="signin" method="post">
      <fieldset class="textbox">
        <div class="holding username">
          <input type="text" id="username" value="" name="session[username_or_email]" title="Username or email" autocomplete="on">
          <span class="holder">Username</span>
        </div>
        <div class="holding password">
          <input type="password" id="password" value="" name="session[password]" title="Password">
          <span class="holder">Password</span>
        </div>
      </fieldset>
      <fieldset class="subchck">
        <label class="remember">
          <input type="checkbox" value="1" name="remember_me">
          <span>Remember me</span>
        </label>
        <button type="submit" class="submit button">Sign in</button>
      </fieldset>

      <input type="hidden" name="redirect_after_login" value="">

      <p>
        <a class="forgot" href="/account/resend_password">Forgot it?</a>
      </p>
    </form>
  </div>
  <div class="front-signup ">
    <h3>New to Luleka? <em>Join today!</em></h3>
    <form action="https://twitter.com/signup" method="post">
      <div class="holding name">
        <input type="text" autocomplete="off" value="" name="user[name]" maxlength="20">
        <span class="holder">Full name</span>
      </div>
      <div class="holding email">
        <input type="text" autocomplete="off" value="" name="user[email]">
        <span class="holder">Email</span>
      </div>
      <div class="holding password">
        <input type="password" value="" name="user[user_password]">
        <span class="holder">Password</span>
      </div>
      <input type="hidden" value="front" name="context">
      <input type="submit" class="promotional submit button" value="Sign up">
    </form>
  </div>
</div>

<div class="search ">
  <form action="/#!/search" method="GET">
    <div class="holding">
      <input value="" name="q" type="text" autocomplete="off">
      <span class="holder">Search or Start Concern</span>
    </div>
    <div class="glass button submit" tabindex="0"><i></i></div>
  </form>
</div>
<div class="radial">
  <div class="shadow"></div>
  <ul class="reverting">
    <li data-item-offset="0"><a data-user-id="23631859" href="/#!/davidblaine" title="David Blaine"><img src="http://a1.twimg.com/profile_images/1172114314/image_normal.jpg" alt="David Blaine" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="1"><a data-user-id="10791192" href="/#!/cbshealth" title="CBS Health"><img src="http://a3.twimg.com/profile_images/40420142/CBSeye_normal.gif" alt="CBS Health" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="2" class="rotated"><a data-user-id="19571299" href="/#!/NickCannon" title="Nick Cannon"><img src="http://a3.twimg.com/profile_images/1356222347/NickCannon-MrShowbiz400_normal.jpg" alt="Nick Cannon" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="3"><a data-user-id="22685200" href="/#!/kingsthings" title="Larry King "><img src="http://a3.twimg.com/profile_images/183611204/facebook2_normal.jpg" alt="Larry King " height="48" width="48" style="display: inline; "></a></li><li data-item-offset="4" class="rotated"><a data-user-id="34296189" href="/#!/JozyAltidore17" title="Jozy Altidore"><img src="http://a0.twimg.com/profile_images/1240554780/6050_1165728536228_1018322386_509919_3074242_n_normal.jpg" alt="Jozy Altidore" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="5" class="rotated"><a data-user-id="37710752" href="/#!/TheScienceGuy" title="Bill Nye"><img src="http://a2.twimg.com/profile_images/314339308/Bill_Nye__Time_Mag__cropped_normal.gif" alt="Bill Nye" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="6" class="rotated"><a data-user-id="54730258" href="/#!/MargaretAtwood" title="Margaret E. Atwood"><img src="http://a0.twimg.com/profile_images/355188578/P_at_FLicKeR-01_normal.jpg" alt="Margaret E. Atwood" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="7"><a data-user-id="19248106" href="/#!/MariahCarey" title="Mariah Carey"><img src="http://a3.twimg.com/profile_images/1206050702/twittericon_normal.jpg" alt="Mariah Carey" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="8" class="rotated"><a data-user-id="21196272" href="/#!/okkervilriver" title="Okkervil River"><img src="http://a2.twimg.com/profile_images/1217771583/band_normal.jpg" alt="Okkervil River" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="9" class="rotated"><a data-user-id="44039298" href="/#!/sethmeyers21" title="Seth Meyers"><img src="http://a0.twimg.com/profile_images/267298914/n700068668_5523_normal.jpg" alt="Seth Meyers" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="10" class="rotated"><a data-user-id="9810192" href="/#!/barrylibert" title="Barry Libert"><img src="http://a3.twimg.com/profile_images/1127610035/BL_photoALT_normal.jpg" alt="Barry Libert" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="11" class="rotated"><a data-user-id="2182641" href="/#!/stevenbjohnson" title="Steven Johnson"><img src="http://a1.twimg.com/profile_images/34699972/sbjbeach2005_normal" alt="Steven Johnson" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="12" class="rotated"><a data-user-id="6173842" href="/#!/ICHCheezburger" title="ICanHasCheezburger?"><img src="http://a3.twimg.com/profile_images/1213876440/27539_32561485399_2579_n_normal.jpeg" alt="ICanHasCheezburger?" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="13" class="rotated"><a data-user-id="24599923" href="/#!/alexa_chung" title="alexa chung"><img src="http://a2.twimg.com/profile_images/1364443534/tumblr_lix0exHWGa1qefmklo1_500_normal.jpg" alt="alexa chung" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="14" class="rotated"><a data-user-id="20" href="/#!/ev" title="Evan Williams"><img src="http://a1.twimg.com/profile_images/1275356729/evedit0xr_2__1__normal.jpg" alt="Evan Williams" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="15" class="rotated"><a data-user-id="24019308" href="/#!/iTunesTrailers" title="iTunes Trailers"><img src="http://a0.twimg.com/profile_images/381460532/itunes_trailers_normal.jpg" alt="iTunes Trailers" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="16" class="rotated"><a data-user-id="71876190" href="/#!/DannyDeVito" title="Danny DeVito"><img src="http://a0.twimg.com/profile_images/400232403/Photo_6_normal.jpg" alt="Danny DeVito" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="17"><a data-user-id="16380111" href="/#!/bayareabites" title="bayareabites"><img src="http://a1.twimg.com/profile_images/1171130862/bayareabites-twitter72x72_normal.png" alt="bayareabites" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="18"><a data-user-id="62290655" href="/#!/continental" title="Continental Airlines"><img src="http://a2.twimg.com/profile_images/1258744973/twitterLogo_Continental_normal.gif" alt="Continental Airlines" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="19" class="rotated"><a data-user-id="14055301" href="/#!/savethechildren" title="Save the Children"><img src="http://a1.twimg.com/profile_images/574690168/savethechildren-fb_normal.jpg" alt="Save the Children" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="20" class="rotated"><a data-user-id="17174309" href="/#!/diplo" title="dıpןo"><img src="http://a0.twimg.com/profile_images/1376696406/diplo_fallin_normal.jpg" alt="dıpןo" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="21" class="rotated"><a data-user-id="1724401" href="/#!/timyoung" title="Tim Young"><img src="http://a2.twimg.com/profile_images/1184234805/instagr.am.jpg_normal.jpg" alt="Tim Young" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="22" class="rotated"><a data-user-id="10671602" href="/#!/PlayStation" title="PlayStation"><img src="http://a1.twimg.com/profile_images/63187579/PSF_negSQ_normal.png" alt="PlayStation" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="23" class="rotated"><a data-user-id="49987686" href="/#!/ICanGrowPeople" title="Lori "><img src="http://a0.twimg.com/profile_images/1221452352/loriv1_normal.jpg" alt="Lori " height="48" width="48" style="display: inline; "></a></li><li data-item-offset="24" class="rotated"><a data-user-id="1917731" href="/#!/thehill" title="The Hill"><img src="http://a1.twimg.com/profile_images/74105303/thehill_normal.png" alt="The Hill" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="25" class="rotated"><a data-user-id="25206461" href="/#!/todsacerdoti" title="Tod Sacerdoti"><img src="http://a1.twimg.com/profile_images/1288152921/41644_212457_259445_n2_normal.jpg" alt="Tod Sacerdoti" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="26" class="rotated"><a data-user-id="1046661" href="/#!/science" title="science"><img src="http://a3.twimg.com/profile_images/1160091262/science100x100_normal.jpg" alt="science" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="27" class="rotated"><a data-user-id="34971500" href="/#!/n2nbroadway" title="Next To Normal"><img src="http://a3.twimg.com/profile_images/181215512/ntnalbumcover_normal.jpg" alt="Next To Normal" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="28" class="rotated"><a data-user-id="7744592" href="/#!/todayshow" title="The Today Show"><img src="http://a1.twimg.com/profile_images/727884617/rainbow_normal.jpg" alt="The Today Show" height="48" width="48" style="display: inline; "></a></li><li data-item-offset="29" class="rotated"><a data-user-id="15649433" href="/#!/TravelGov" title="Travel - State Dept"><img src="http://a2.twimg.com/profile_images/933275449/TravelGov_logo_normal.gif" alt="Travel - State Dept" height="48" width="48" style="display: inline; "></a></li>
  </ul> 
</div>
