<div class="leftside ">
  <h1><span>Luleka</span></h1>
  <h2><a href="/"><%= t ".h2" %></a></h2>
  <p><%= t(".h3").html_safe %></p>
</div>

<div class="rightside">
  <div class="gradient"></div>
  <div class="front-signup ">
    <h3>Want to know when we are live?</h3>
    <form action="https://twitter.com/signup" method="post" data-validate="true">
      <div class="holding email">
        <input type="text" autocomplete="off" value="" name="user[email]" class="string required unique" data-validate="true">
        <span class="holder">Enter your email</span>
      </div>
      <input type="hidden" value="front" name="context">
      <input type="submit" class="promotional submit button" value="Send">
    </form>
  </div>
</div>
