/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require base
 *= require buttons
 *= require_self
*/
@import "mixins.css.scss";

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  xoverflow: hidden;
  xwidth: 720px;
}

body {
  margin:0;
  padding:0;
  border:0;
  background-color: white;
  overflow:hidden;
  width:760px;
  margin:0; 
  padding:0; 
  border:0;
}

#wrapper {
  margin: auto;
  xmin-width: 520px;
  xmax-width: 760px;
}

#footer {
  margin: 20px 10px 10px 10px;
  color: #666;
}

#debug {
  padding: 10px;
  border-top: 1px red solid;
  background-color: pink;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

#campaign {
  background: transparent url("/assets/fb/dandelion-fb-p24.png") top left no-repeat;
  width: 780px;
  height: 700px;
  z-index: 0;

  #gate {
    background: transparent url("/assets/fb/like-gate.png") top left no-repeat;
    width: 780px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  
  .inner {
    display: block;
    padding: 30px;

    h1 {
      background: url("/assets/luleka_front.png") no-repeat 0px 0px;
      height: 39px;
      width: 184px;
    }

    h1 span {
      visibility: hidden;
    }
  
    h2 {
      color: #333;
      font-size: 35px;
      font-weight: 300;
      line-height: 1.25em;
      margin-top: 50px;
    }
  
    h2 em {
      font-weight: bold;
      font-style: normal;
    }
  
    h3 {
      font-size: 35px;
      font-weight: 100;
      line-height: 1.3em;
    }

    h3 a {
      -webkit-transition: text-shadow 0.4s ease-in-out;
      color: #006f79;
      outline: none;
      text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
      font-weight: bold;
    }

    h3 a:hover {
      text-decoration: none;
      text-shadow: rgba(0, 0, 0, 0.597656) 0px 1px 0px, #8FB5C8 0px 0px 6px, rgba(143, 181, 200, 0.699219) 0px 0px 30px;
    }
  
    a.post {
      x-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
      float: right;
      height: 35px;
      padding: 16px 16px 0 16px;
      margin-top: 15px;
    }
  
    .float-unit {
      display: block;
      height: 265px;
      margin: 50px 0;
    }
  
    .leftside {
      float: left;
      width: 350px;
    
      h4 {
        font-size: 25px;
        font-weight: 100;
        line-height: 1.3em;
      }

      h4 {
        -webkit-transition: text-shadow 0.4s ease-in-out;
        color: #006f79;
        outline: none;
        text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
        font-weight: bold;
      }
    
      p {
        color: #333;
        font-size: 16px;
        font-weight: normal;
        margin: 10px 0;
        text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; 
        text-align: justify;
      }
    
      p em {
        font-weight: bold;
        font-style: normal;
      }
    
      img {
        display: block;
        margin: 40px auto;
      }

    }
  
    .rightside {
      position: relative;
      width: 280px;
      float: right;
      overflow: visible;
      padding-top: 1px;
      z-index: 1;

      div.gradient {
        background-image: -webkit-gradient(radial, 50% 50%, 40, 50% 50%, 180, from(rgba(143, 181, 200, .8)), to(rgba(143, 181, 200, 0)));
        position: absolute;
        left: -250px;
        top: -200px;
        height: 617px;
        width: 750px;
        z-index: -1;
      }

      .front-response {
        display: none;
        width: 310px;
      
        h3 {
          color: #333;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 6px;
          text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;
          line-height: 1.25em;
        }
      }

      .front-signup {
        width: 240px;
        z-index: 2;
        h3 {
          color: #333;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 6px;
          text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; 
        }

        h3 em {
          font-style: normal;
          font-weight: 300;
        }

        .holding {
          height: 60px;
        
          input, 
          .holder {
            font: normal normal normal 15px/normal 'Helvetica Neue', Arial, sans-serif;
          }

          input {
            @include input-rounded-corners(4px);
            margin-bottom: 8px;
            padding: 8px 6px;
            width: 225px;
            padding: 9px 7px 10px;
          }

          .holder {
            line-height: 38px;
          }
        
          .field_with_errors {
            label {
              float: left;
              position: relative;
              top: -5px;
              left: 0;
              color: red;
              font-size: 11px;
            }
          }
        }
      
        form {
          .holding input {
            -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 2px inset;
            -webkit-transition: opacity 1s;
            background-color: white;
            border: none !important;
            color: #567792;
            opacity: 0.7;
          }

          .holding:hover input {
            -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px, rgba(0, 0, 0, 0.3) 0px 1px 2px inset;
            opacity: 0.9;
          }

          .holding input:focus {
            outline-width: 0;
          }
        }

        .button {
          border: 0;
        }

        .submit {
          -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;
          float: right;
          height: 35px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}

.bottompart {
  border-top: 0px none;
  margin-top: 0;
  padding-top: 5px;
  width: 780px;
  
  .language {
    font-size: 12px !important;
  }

  .language label span,
  div.language,
  .footer {
    color: #666;
    text-transform: capitalize; 
  }

  .inline-list {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
  }

  a {
    color: #437EA1;
  }

  .footer {
  }
  
  .footer .copyright {
  }
  
}

.over div.gradient {
  top: -250px !important;
}


