/* =Buttons
-------------------------------------------------------------- */
.button {
  background: #DDD url(/assets/nl/buttons/bg-btn.gif) repeat-x 0px 0px;
  border-color: #BBB #BBB #999;
  border-style: solid;
  border-width: 1px;

  border-bottom-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  
  color: #333 !important;
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 12px/15px 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  margin: 0px;
  overflow: hidden;
  padding: 5px 9px;
  text-shadow: #F0F0F0 0px 1px;
}

.button:active {
  background-image: none;
  outline: none;
  text-shadow: none;
}

.button:hover {
  border-color:#999;
}

input.submit, 
button, 
input[type="submit"], 
input[type="button"], 
input[type="file"] > input[type="button"] {
  background-color: #E6E6E6;
  border: 1px solid #CCC;
  /*
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  */
  color: black;
  cursor: pointer;
  font-size: x-small;
  padding: 4px 8px;
  vertical-align: top;
}

.btn, 
input[type="submit"].btn, 
input[type="button"].btn {
  background: #ddd url(/assets/nl/buttons/bg-btn.gif) repeat-x 0px 0px;
  border-bottom-color: #CCC;
  border-bottom-color: #CCC;
  border-style: solid;
  border-width: 1px;
  border-color: #DDD #DDD #CCC;
  /*
  border-bottom-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  */
  color: #333;
  cursor: pointer;
  font: normal normal normal 11px/14px 'Lucida Grande', sans-serif;
  margin: 0px;
  overflow: visible;
  padding: 4px 8px 5px;
  text-shadow: white 1px 1px 0px;
  width: auto;
}

.btn, 
input[type="submit"].btn, 
input[type="button"].btn {
  -webkit-box-shadow: rgba(255, 255, 255, 0.0976562) 0px 1px 0px inset;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button:active, 
button.btn:active, 
input[type="submit"]:active, 
button.btn-dark:active, 
button.btn-light:active, 
.btn:active, 
.btn-red:active, 
.btn-green:active {
  background-image: none !important;
  outline: none !important;
  text-shadow: none !important; 
}

.btn-m:hover, 
.btn-m:focus, 
input[type="submit"].btn-m:hover, 
input[type="submit"].btn-m:focus, 
button.btn-m:hover, 
button.btn-m:focus {
  background-position: 0px -206px;
}

.btn:hover, 
.btn:focus, 
input[type="submit"].btn:hover, 
input[type="submit"].btn:focus, 
button.btn:hover, 
button.btn:focus {
  background-position: 0px -6px;
  border-color: #999 #999 #888;
  color: black;
  text-decoration: none;
}

button:active, 
button.btn:active, 
input[type="submit"]:active, 
button.btn-dark:active, 
button.btn-light:active, 
.btn:active, 
.btn-red:active, 
.btn-green:active {
  background-image: none !important;
  outline: none !important;
  text-shadow: none !important;
}

.btn-m, 
input[type="submit"].btn-m, 
input[type="button"].btn-m {
  background-position: 0px -200px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  font-size: 15px;
  line-height: 20px !important;
  padding: 5px 15px 6px;
}

.btn-blue:hover, .btn-blue:focus {
  border-color: #17B #17B #06A;
  color: #fff;
}

.btn-blue {
  background-color: #39D !important;
  background-image: url(/assets/nl/buttons/bg-btn-blue.gif) !important;
  border-color: #39D #39D #28C !important;
  color: white !important;
  text-shadow: #39D -1px -1px 0px !important;
}

a.promotional, input.promotional {
  -webkit-box-shadow: white 0px 1px 0px;
  xbackground: #FA2 url(https://si1.twimg.com/a/1306889658/phoenix/img/buttons/bg-btn-signup.png) repeat-x 0px 0px;
  background: #FA2 url(/assets/nl/buttons/bg-btn-signup.png) repeat-x 0px 0px;
  border: 1px solid #FA2;
  /*
  border-bottom-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  */
  color: #333;
  cursor: pointer;
  display: block;
  font: normal normal bold 16px/normal 'Helvetica Neue', Arial, sans-serif;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: #FE6 0px 1px 0px;
}

a.promotional:active, input.promotional:active {
  background-image: none;
}

a.promotional:hover, a.promotional:focus, input.promotional:hover, input.promotional:focus {
  background-position: 0px -5px;
  color: #111;
}

